.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header_img{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.header_menu{
  display: flex;
  list-style: none;
  gap: 3rem;
  cursor: pointer;
  font-size: 1.05rem;
}

.header_menu>li{
  transition: .4s;
}

.header_menu>li:hover{
  color: orange;
  scale: 1.15;
  transition: .4s;
}

@media (max-width: 770px) {
 .header_menu{
  gap: 2rem;
 } 
}
