h1 {
  font-weight: 400;
}
h2{
  font-weight: 400;
  margin: 0rem;
}
.works{
  position: relative;
}

.works_heading {
  text-align: center;
}

.works_blur_1 {
  background-color: aqua;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -9;
  width: 6rem;
  height: 6rem;
  left: 0%;
  top: 30%;
}

.works_blur_2 {
  background-color: orangered;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -9;
  width: 8rem;
  height: 8rem;
  right: 0%;
}

.works_blur_3 {
  background-color: greenyellow;
  position: absolute;
  border-radius: 50%;
  filter: blur(25px);
  z-index: -9;
  width: 8rem;
  height: 8rem;
  right: 0%;
  top: 60%;
}

.works_blur_4 {
  background-color: orange;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -9;
  width: 6rem;
  height: 6rem;
  left: 0%;
  top: 90%;
}

.works_text_color{
  font-weight: 100;
}

