h1{
  font-weight: 400;
}
.about {
  text-align: center;
  position: relative;
}

.about_blur_1 {
  background-color: aqua;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -9;
  width: 6rem;
  height: 6rem;
  left: 0%;
  top: 30%;
}

.about_blur_2 {
  background-color: orangered;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -9;
  width: 6rem;
  height: 6rem;
  right: 0%;
  top: 60%;
}




.about_blur_3 {
  background-color: orange;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -9;
  width: 6rem;
  height: 6rem;
  left: 0%;
  top: 90%;
}


.about_img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1px solid gray;
}

.about_me_text {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.17rem;
  margin-top: 2.5rem;
  padding: 0 1.2rem;
}

.about_skill {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 6rem;
}

.about_skill_logo {
  width: 10rem;
  height: 10rem;
}




