.about {
  text-align: center;
  position: relative;
}

.works_blur_1 {
  background-color: aqua;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -9;
  width: 6rem;
  height: 6rem;
  left: 0%;
  top: 30%;
}

.works_blur_1 {
  background-color: orangered;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -9;
  width: 6rem;
  height: 6rem;
  left: 0%;
  top: 30%;
}



.works_blur_3 {
  background-color: greenyellow;
  position: absolute;
  border-radius: 50%;
  filter: blur(25px);
  z-index: -9;
  width: 8rem;
  height: 8rem;
  right: 0%;
  top: 10%;
}

.works_blur_4 {
  background-color: orange;
  position: absolute;
  border-radius: 50%;
  filter: blur(20px);
  z-index: -9;
  width: 6rem;
  height: 6rem;
  left: 0%;
  top: 90%;
}


.about_img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1px solid gray;
}

.about_line {
  border-bottom: 3px solid #000;
}

.about_me_text {
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.17rem;
  margin-top: 2.5rem;
  padding: 0 1.2rem;
}

.about_skill {
  text-align: center;
  font-size: 1.7rem;
  margin-top: 6rem;
}

.about_skill_logo {
  width: 10rem;
  height: 10rem;
}

@media (max-width: 700px) {
  .about {
    margin-top: 3rem;
  }
}
