.theme {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  padding: 2rem 2rem 0;
}

@media (max-width: 600px) {
  .theme {
    padding: 2rem 1.2rem;
  }
}
h1 {
  font-weight: 400;
}
h2{
  font-weight: 400;
  margin: 0rem;
  font-size: 1.1rem;
}
a {
  text-decoration: none;
  color: #000;
}
::-webkit-scrollbar {
  display: none;
}
