.theme {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  padding: 2rem 2rem 0;
}

@media (max-width: 600px) {
  .theme {
    padding: 2rem 1.2rem;
  }
}

::-webkit-scrollbar {
  display: none;
}
